.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;

    transition: background-color 0.25s ease;
}

.navbar-green {
    background-color: darkgreen;
}

.navbar-red {
    background-color: darkred;
}

.navbar-transparent {
    background-color: transparent;
}