@import '../variables.css';

.navlink {
    color: var(--white);
    cursor: pointer;

    font-size: 20px;
    font-weight: 500;
}

.navlink:hover {
    color: #D9B391;
}

.navlink:active {
    font-weight: bold;
}