@import '../variables.css';

.section-color {
    background-color: var(--main-light);
}

.section-color-left {
    background: var(--white);
}

.section-color-right {
    background: var(--main-light);
}

.section__image {
    left: 0;
    height: 50vh;
    width: 100%;
}

.shadow-image {
    height: 50vw;
    min-width: 30vw;
}

@media (min-width: 640px) {
    .section-color-left {
        background: linear-gradient(to right, var(--main-light) 50%, var(--white) 0%);
    }
    
    .section-color-right {
        background: linear-gradient(to left, var(--main-light) 50%, var(--white) 0%);
    }
}

@media (min-width: 768px) { 
    .shadow-image {
        height: 30vw;
    }
}

@media (min-width: 1024px) { 
    .shadow-image {
        max-width: 30vw;
    }
}

.bg-primary-light{
    background-color: var(--primary-light);
}

.bg-secondary-light{
    background-color: var(--secondary-light);
}