@import '../variables.css';

.about h1,
.howto h1 {
    color: var(--primary);
}

.ingredients h1 {
    color: var(--secondary);
}

.section-color {
    background-color: var(--main-light);
}

.section-color-left {
    background: linear-gradient(to right, var(--main-light) 50%, var(--white) 0%);
}

.section-color-right {
    background: linear-gradient(to left, var(--main-light) 50%, var(--white) 0%);
}

.section__image {
    left: 0;
    height: 50vh;
    width: 100%;
}

.section__shadow-image {
    left: 0;
    height: 50vh;
    width: 100%;
}

.shadow-image {
    height: 50vw;
    min-width: 30vw;
    margin-left: 20px;
    margin-bottom: 20px;
}

@media (min-width: 640px) { 
    .shadow-image {
        height: 30vw;
    }
}

.shadow-image-green {
    box-shadow: -20px 20px var(--primary-light);
}

.shadow-image-red {
    box-shadow: -20px 20px var(--secondary-light);
}