@import './variables.css';

.app {
  background-color: var(--white);
}

img {
  object-fit: cover;
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#main-img {
  width: 100%;
  height: 75vh;
  filter: brightness(65%);
}

.section {
  width: 100%;
}

.section-color {
  width: 100%;
  background-color: var(--main-light);
}

.section-color-left {
  width: 100%;
  background: linear-gradient(to right, var(--main-light) 50%, var(--white) 0%);
}

.section-color-right {
  width: 100%;
  background: linear-gradient(to left, var(--main-light) 50%, var(--white) 0%);
}

.section__content {
  padding: 75px 150px;
}

.section__image {
  left: 0;
  height: 50vh;
  width: 100%;
}

#about h1, #howto h1 {
  color: var(--primary);
}

#ingredients h1 {
  color: var(--secondary);
}