:root {
    --main: #181818;
    --main-light: #D9B596;
    --primary: #022601;
    --primary-light: #067302;
    --secondary: #8C1B1B;
    --secondary-light: #BF3415;
    --text: #222222;
    --white: #FFFFFF;
}